<MudGrid Justify="Justify.Center">
@if (_parsedAnswer.HasValue is true)
{
    var answer = _parsedAnswer.Value;
    var html = Markdown.ToHtml(answer.AnswerHtml);

    <MudItem xs="12">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true">
            <MudTabPanel Icon="@Icons.Material.Filled.Quickreply" Text="Answer" ToolTip="Answer text">
                <ChildContent>
                    <MudPaper Class="pa-6" Elevation="3">
                        <MudText Typo="Typo.body1">
                            @((MarkupString)html)
                        </MudText>
                        @if (answer is { Citations.Count: > 0 })
                        {
                            <div class="pt-4">
                                <MudText Typo="Typo.subtitle2" Class="pb-2">Citations:</MudText>
                                @foreach (var citation in answer.Citations)
                                {
                                    var icon = citation.Name.EndsWith(".pdf")
                                        ? @Icons.Custom.FileFormats.FilePdf
                                        : null;
                                }
                            </div>
                        }
                        @if (answer is { FollowupQuestions.Count: > 0 })
                        {
                            <div class="pt-4">
                                <MudText Typo="Typo.subtitle2" Class="pb-2">Follow-up questions:</MudText>
                                @foreach (var followup in answer.FollowupQuestions)
                                {
                                    <MudChip Variant="Variant.Text" Color="Color.Tertiary"
                                        OnClick="@(_ => OnAskFollowupAsync(followup))">
                                            @followup
                                    </MudChip>
                                }
                            </div>
                        }
                    </MudPaper>
                </ChildContent>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.TableChart" Text="Table Result" ToolTip="Show table result of" Disabled="@(Retort is { DataPoints: null } or { DataPoints.Length: 0 })">  
                <ChildContent>  
                    <MudPaper Class="pa-6" Elevation="3">  
                        <SupportingContent DataPoints="Retort.TableResult"/>  
                    </MudPaper>  
                </ChildContent>  
            </MudTabPanel>  
      
            <MudTabPanel Icon="@Icons.Material.Filled.Code" Text="SQL Query" ToolTip="Show SQL queries" Disabled="@(Retort is { DataPoints: null } or { DataPoints.Length: 0 })">  
                <ChildContent>  
                    <MudPaper Class="pa-6" Elevation="3">  
                        <SupportingContent DataPoints="Retort.SqlQuery"/>  
                    </MudPaper>  
                </ChildContent>  
            </MudTabPanel>  
      
            <MudTabPanel Icon="@Icons.Material.Filled.Explore" Text="Examples" ToolTip="Show examples" Disabled="@(Retort is { DataPoints: null } or { DataPoints.Length: 0 })">  
                <ChildContent>  
                    <MudPaper Class="pa-6" Elevation="3">  
                        <SupportingContent DataPoints="Retort.Examples"/>  
                    </MudPaper>  
                </ChildContent>  
            </MudTabPanel>  
      
            <MudTabPanel Icon="@Icons.Material.Filled.Schema" Text="Schema" ToolTip="Show schema" Disabled="@(Retort is { DataPoints: null } or { DataPoints.Length: 0 })">  
                <ChildContent>  
                    <MudPaper Class="pa-6" Elevation="3">  
                        <SupportingContent DataPoints="Retort.Schema"/>  
                    </MudPaper>  
                </ChildContent>  
            </MudTabPanel>
        </MudTabs>
    </MudItem>
}
</MudGrid>